


*{padding: 0;margin:0;box-sizing: border-box;}
body{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
ul, li{list-style: none;}
input:focus{outline: 0;}
.topBox{background-color: #5c5761;color: #fff;line-height:50px;margin:0;padding:0 10px;text-align:center;}
.add-btn{float: right;font-size: 26px;}
.add-btn a{color: #fff;text-decoration: none;}
.add-contact{height: 80px;width: 100%;padding:20px;background-color: #f2f3f5;margin-top:2px;}
.flex{display: flex;flex-direction:row ;}
.form-control{width: 100%;height: 40px;padding: 10px 16px;font-size: 14px;border-radius: 6px;border:1px solid #ccc; }
.form-control:focus {border-color: #66afe9;box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.flex-item{flex: 1;}
.serch input{border-radius:6px 0 0 6px;}
.serch-btn{width: 60px;}
.serch-btn input{border: 1px solid #ccc;background: #fff;width: 60px;height: 40px;border-radius:0 6px 6px 0;font-size: 14px;}
.list-group li:nth-child(odd){background-color: #fff;}
.list-group li:nth-child(even){background-color: #f2f3f5;}
.list-group-item{padding:20px;}
.list-group-item .flex{}
.list-group-item:last-child,.list-group-item:first-child{border-radius: 0;}
.list-group-item .imgHeader img{height: 55px;width: 55px;border-radius:50%;overflow: hidden;}
.list-group-item .info{padding-left: 20px;display: flex;justify-content: space-between;flex: 1}
.icon-arrow{height: 20px;width: 12px;overflow: hidden;display: inline-block;margin-top:15px;} 
.add-box{display:none;position: absolute;width: 100%;height: 220px;background-color:rgba(0,0,0,0.7);left:0;bottom: 20%;padding:20px;}
.add-box .close-btn{width: 24px;height: 24px;background: #5bc0de;border-radius:50%;line-height: 24px;color:#fff;text-align:center;position:absolute;right: 0;bottom:208px;}
.btn-block{display: block;background: #5bc0de;width: 100%;padding: 10px 16px;border-radius:6px;border:none;line-height: 30px;color: #fff;}
.detel-btn{display: none}
.detel-btn span{display: inline-block;padding:8px 10px;color: #5bc0de;border-radius:6px;border:1px solid #ccc;background: #fff;font-size: 12px;}




